$colorText: #000000e0;
$colorTextDescription: #00000073;
$colorTextDisabled: #00000040;

$colorBorder: #00000026;
$colorSplit: #0000000f;


$colorWhite: #fff;
$colorBlack: #000;
$colorRed: #bf1111;
$colorOrange: #d9770f;
$colorYellow: #e6d40e;
$colorLightGreen: #88e60e;
$colorGreen: #26cf0c;
$colorDarkGreen: #05571e;
$colorCyan: #0ccf94;
$colorLightBlue: #0ddde0;
$colorBlue: #1078e0;
$colorDarkBlue: #1017e0;
$colorViolet: #4b10e0;
$colorPurple: #8910e0;
$colorPink: #dd10e0;

